#ProfilePage
{
    /* Move it off the top of the page, then centre it horizontally */
    margin: 50px auto;
    width: 635px;

    /* For visibility. Delete me
    border: 2px solid red;*/
}

#LeftCol
{
    /* Move it to the left */
    float: left;

    width: 200px;
    text-align: center;

    /* Move it away from the content */
    margin-right: 20px;

    /* For visibility. Delete me
    border: 2px solid brown;*/
}

#Photo
{
    /* Width and height of photo container */
    width: 200px;
    height: 200px;

    /* For visibility. Delete me */
}

#PhotoOptions
{
    text-align: center;
    width: 200px;

    /* For visibility. Delete me */
}
#PhotoOptions a{
    text-decoration: none;
    text-align: center;
    color: black;
    background: lightcyan;
    width: 200px;
    display: inline-block;
}

#Info
{
    width: 400px;
    text-align: center;

    /* Move it to the right */
    float: right;

    /* For visibility. Delete me
    border: 1px solid blue;*/
}

#Info strong
{
    /* Give it a width */
    display: inline-block;
    width: 100px;
    font-size: 12pt;
    color: black;
    /* For visibility. Delete me*/
    border: 1px solid rebeccapurple;
}

#Info span
{
    /* Give it a width */
    display: inline-block;
    width: 250px;
    font-size: 12pt;
    font-family: "Russo One","Times New Roman","sans-serif";
    color: black;

    /* For visibility. Delete me*/
    border: 1px solid rebeccapurple;
}

table{
    position:relative;
    margin: auto;
    border: 1px solid rebeccapurple;
    left: 400px;
    top: 100px;
}

#total{
    position: relative;
    top: 100px;
    color: green;
    width: 100px;
    left: 280px;

}
#btnTotal {
    margin: auto;
    width: 100px;
    color: rebeccapurple;
    left: 400px;
    top: 40px;
}


/*style for heading*/
h1{
    text-align: center;
    color: #f2af00;
    text-shadow: 2px 2px 4px #000;
    transition: transform .2s;
    font-family: monospace;
}
h1:hover{
    transform: scale(1.5);
}
body{
    margin: 0px;
    padding: 0px;
    background-image: url("http://www.pagon.in/images/aboutus.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
/*style for images on the front page
.img{
    width: 200px;
    height: 200px;
    margin-left: 30px;
    transition: transform .2s;
    position: relative;
    left: 140px;
    border: 3px solid black;
}
.img:hover{
    transform: scale(1.5);
    z-index: 10;
}
*/


/*style from list on the navigation bar*/
ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkblue;
    margin-bottom: 30px;
}

.nav {
    overflow: hidden;
    background-color:darkblue;
    font-family: monospace;
    margin-bottom: 40px;

}

.nav a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 200px;
}

.nav fullsc{

}
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    width: 200px;
}

.nav a:hover, .dropdown:hover .dropbtn {
    background-color: orangered;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color :lightblue;
    min-width: 160px;
    max-width: inherit;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.fullsc {
    display: none;
    position: absolute;
    background-color :lightblue;
    min-width: 160px;
    max-width: inherit;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.fullsc:hover{
    background-color: red;
}

.dropdown-content a:hover {
    background-color: red;
}

.dropdown:hover .dropdown-content {
    display: block;
}
@media screen and (max-width: 580px) {
    .nav {
        padding: 20px 10px !important;
    }

    .nav a {
        float: none;
        display: block;
        text-align: left;
    }

    .nav-right {
        float: none;
    }
}

/* CSS FOR REPORSTS */
#chart{
    width: 60%;

}
/*Dashboard */
.allboxes{
    display: flex;
}
.allboxes > div{
    flex: 1;
}
.box1{
    width: 300px;
    background: #f85f68;
    padding: 15px;
    margin: 15px;
    height: 150px;
    box-shadow: -5px -5px #f85f68;
}
.box2{
    width: 300px;
    background: #322831;
    padding: 15px;
    margin: 15px;
    height: 150px;
    box-shadow: -5px -5px #322831;
}
.box3{
    width: 300px;
    background: #77B1AD;
    padding: 15px;
    margin: 15px;
    height: 150px;
    box-shadow: -5px -5px  #77B1AD;
}
.box4{
    width: 300px;
    background: #DFDFDE;
    padding: 15px;
    margin: 15px;
    height: 150px;
    box-shadow: -5px -5px #DFDFDE;
}

.footer {
    margin-top: 180px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: black;
    color: #f2af00;
    text-align: center;
}
.ftr-grid h3 {
    font-size:3em;
    color:#f2af00;
    margin-bottom: 0.4em;
    font-family: 'Marvel', sans-serif;
}
.ftr-grid p {
    font-size:1em;
    color: #fff;
    line-height: 1.8em;
}
.ftr-grid input[type="text"] {
    font-size: 1em;
    color: #FFF;
    width: 65%;
    padding: 0.5em 0.8em;
    outline: none;
    background: none;
    border: 1px solid #fff;
}
.ftr-grid input[type="submit"] {
    border: none;
    width: 14%;
    padding: 0.55em 0em;
    outline: none;
    vertical-align: top;
    background:url(../images/msg.png)no-repeat #fff 12px 7px;
    display: inline-block;
}
.ftr-grid input[type="submit"]:hover {
    background:url(../images/msg.png)no-repeat #f2af00 12px 7px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.ftr-grid ul {
    padding: 0em;
    list-style: none;
}
.ftr-grid ul li {
    font-size: 0.95em;
    color: #fff;
    line-height: 1.8em;
}
.local {
    float: left;
    width: 13%;
}
.ftr-text {
    float: right;
    width: 86%;
}
.ftr-address {
    margin-bottom:1em;
}
.ftr-navg ul {
    padding: 0px;
    list-style: none;
}
.ftr-navg ul li{
    display:inline-block;
}
.ftr-navg ul li a{
    font-size:1em;
    color:#fff;
    padding: 0em 1em;
}
.ftr-navg ul li a:hover{
    color:#a2b040;
}
.copyrights p {
    font-size: 1em;
    color: #fff;
}
.copyrights p a{
    color: #fff;
}
.copyrights p a:hover{
    color:#f2af00;
}
.footer-bottom {
    margin-top: 4em;
}
.flexing{
    margin: 50px;
    display: flex;
    margin-left: 100px;
}
h1{
    text-align: center;
    color: #f2af00;
    text-shadow: 2px 2px 4px #000;
    transition: transform .2s;
    font-family: monospace;
}
h1:hover{
    transform: scale(1.5);
}

body{
    margin: 0px;
    padding: 0px;
    background-image: url("http://www.pagon.in/images/aboutus.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
/*style for images on the front page*/
.img{
    width: 200px;
    height: 200px;
    margin-left: 30px;
    transition: transform .2s;
    position: relative;
    left: 140px;
    border: 3px solid black;
}
.img:hover{
    transform: scale(1.5);
    z-index: 10;
}


/*style from list on the navigation bar*/
ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0d0d0d;
    margin-bottom: 30px;
}

.nav {
    overflow: hidden;
    background-color:#0d0d0d;
    font-family: monospace;
    margin-bottom: 40px;

}

.nav a{
    float: left;
    font-size: 22px;
    color: #f2af00;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 200px;
}
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 22px;
    border: none;
    outline: none;
    color: #f2af00;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    width: 200px;
}

.nav a:hover, .dropdown:hover .dropbtn {
    background-color: #4a4a4a;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color : darkgray;
    min-width: 160px;
    max-width: inherit;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.fullsc {
    display: none;
    position: absolute;
    background-color :black;
    min-width: 160px;
    max-width: inherit;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.fullsc:hover{
    background-color: #4a4a4a;
}

.dropdown-content a:hover {
    background-color: #4a4a4a;
}

.dropdown:hover .dropdown-content {
    display: block;
}
@media screen and (max-width: 580px) {
    .nav {
        padding: 20px 10px;
    }

    .nav a {
        float: none;
        display: block;
        text-align: left;
    }

    .nav-right {
        float: none;
    }
}



