img{
    width: 18px;
    height: 18px;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: aliceblue;
}
#table1{
    margin: 20px;
    margin-left: 100px;
}
th{
    text-align: center;
    background-color: darkcyan;
    color: white;
    font: bold 20px sans-serif;
}
tr{
    text-align: center;
    background-color: white;
}
button {
    background-color: darkslategray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#but1{
    margin-left: 100px;
    margin-top: 50px;
}
#div1{
    margin-left:700px;
    margin-right: 500px;
    display: block;
}
