
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


h1 {
    left: 0;
    line-height: 450px;
    margin: auto;
    position: relative;
    top: 70%;
    width: 100%;
}

.center{
    left: 0;
    /*line-height: 200px;*/
    margin: auto;
    margin-top: -130px;
    position: relative;
    top: 50%;
    width: 100%;
    font-size: 20px;
}
body{
    margin: 0px;
    padding: 0px;
    background: url("http://demo.qodeinteractive.com/bridge/wp-content/uploads/2014/03/full01.jpg") repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover
}
.button {
    background-color: black;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    position: relative;
    left: 0;
    line-height: 300px;
    text-decoration: none;
}


.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}


.container {
    padding: 16px;
    text-align: center;
}

span.psw {
    float: right;
    padding-top: 16px;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */ !important
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}


.modal-content {
    background-color: #fefefe;
    margin: 1% auto 10% auto; /* 5% from the top, 15% from the bottom and centered */ !important
border: 1px solid #888;
    width: 90%; /* Could be more or less, depending on screen size */
    padding:30px; !important
text-align:center;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

