/*style for heading*/
h1{
    text-align: center;
    color: #f2af00;
    text-shadow: 2px 2px 4px #000;
    transition: transform .2s;
    font-family: monospace;
}
h1:hover{
    transform: scale(1.5);
}
#table1{
    margin: 20px;
    margin-left: 100px;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}
th{
    text-align: center;
    background-color: black;
    color: white;
    font: bold 20px sans-serif;
    padding: 5px;
    margin:auto;
}
tr{
    text-align: center;
    background-color: white;

}
tr:nth-child(even){
    background-color: #f5f5f5;
}
td{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;
    margin:0;
}
body{
    margin: 0px;
    padding: 0px;
    background-image: url("http://www.pagon.in/images/aboutus.jpg");
    background-size: 100%;
    background-repeat: repeat-y;
}
/*style for images on the front page*/
.img{
    width: 200px;
    height: 200px;
    margin-left: 30px;
    transition: transform .2s;
    position: relative;
    left: 140px;
    border: 3px solid black;
}
.img:hover{
    transform: scale(1.5);
    z-index: 10;
}


/*style from list on the navigation bar*/
ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0d0d0d;
    margin-bottom: 30px;
}

.nav {
    overflow: hidden;
    background-color:#0d0d0d;
    font-family: monospace;
    margin-bottom: 40px;

}

.nav a{
    float: left;
    font-size: 22px;
    color: #f2af00;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 200px;
}
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 22px;
    border: none;
    outline: none;
    color: #f2af00;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    width: 200px;
}

.nav a:hover, .dropdown:hover .dropbtn {
    background-color: #4a4a4a;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color : darkgray;
    min-width: 160px;
    max-width: inherit;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
     float: none;
     color: white;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     text-align: left;
 }
.fullsc {
    display: none;
    position: absolute;
    background-color :black;
    min-width: 160px;
    max-width: inherit;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.fullsc:hover{
    background-color: #4a4a4a;
}

.dropdown-content a:hover {
    background-color: #4a4a4a;
}

.dropdown:hover .dropdown-content {
    display: block;
}
@media screen and (max-width: 580px) {
    .nav {
        padding: 20px 10px;
    }

    .nav a {
        float: none;
        display: block;
        text-align: left;
    }

    .nav-right {
        float: none;
    }
}

iframe{
    height: 600px;
    width: 100%;
    border: none;
}
button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}
#but1{
    margin-left: 100px;
    margin-top: 50px;

}
#div1{
    margin: auto;
   position: relative;
    left: 25%;
    top: 10%;
    display: block;
    overflow: hidden;
}
#div2{
    margin: auto;
    display: block;
    overflow: hidden;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 25%;
    top: 20%;
    width: 600px; /* Full width */
    height: 400px; /* Full height */
    margin-top: -200px;
    margin-left: -300px;
    background-color: white; /* Fallback color */
    overflow: hidden;

}
.modal-content {
    background-color: whitesmoke;
    margin: 1% auto 10% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 90%; /* Could be more or less, depending on screen size */
    padding:30px;
    text-align:center;
    height: 50%;
}
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}


/* MAIN DIV FOR PHOTOS */

#f1_container {
    position: relative;
    margin: 10px auto;
    width: 33%;
    height: 281px;
    z-index: 1;
    flex: 1;
}
#f1_container {
    perspective: 1000;
}
#f1_card {
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}
#f1_container:hover #f1_card {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px;
}
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    color: black;
    text-align: center;
    background-color: white;
}

.flexing{
    margin: 80px;
    display: flex;
    margin-left: 100px;
}
.flexing > div {
    flex: 1; /*grow*/
}


.footer {
    margin-top: 180px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: black;
    color: #f2af00;
    text-align: center;
}
.ftr-grid h3 {
    font-size:3em;
    color:#f2af00;
    margin-bottom: 0.4em;
    font-family: 'Marvel', sans-serif;
}
.ftr-grid p {
    font-size:1em;
    color: #fff;
    line-height: 1.8em;
}
.ftr-grid input[type="text"] {
    font-size: 1em;
    color: #FFF;
    width: 65%;
    padding: 0.5em 0.8em;
    outline: none;
    background: none;
    border: 1px solid #fff;
}
.ftr-grid input[type="submit"] {
    border: none;
    width: 14%;
    padding: 0.55em 0em;
    outline: none;
    vertical-align: top;
    background:url(../images/msg.png)no-repeat #fff 12px 7px;
    display: inline-block;
}
.ftr-grid input[type="submit"]:hover {
    background:url(../images/msg.png)no-repeat #f2af00 12px 7px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.ftr-grid ul {
    padding: 0em;
    list-style: none;
}
.ftr-grid ul li {
    font-size: 0.95em;
    color: #fff;
    line-height: 1.8em;
}
.local {
    float: left;
    width: 13%;
}
.ftr-text {
    float: right;
    width: 86%;
}
.ftr-address {
    margin-bottom:1em;
}
.ftr-navg ul {
    padding: 0px;
    list-style: none;
}
.ftr-navg ul li{
    display:inline-block;
}
.ftr-navg ul li a{
    font-size:1em;
    color:#fff;
    padding: 0em 1em;
}
.ftr-navg ul li a:hover{
    color:#a2b040;
}
.copyrights p {
    font-size: 1em;
    color: #fff;
}
.copyrights p a{
    color: #fff;
}
.copyrights p a:hover{
    color:#f2af00;
}
.footer-bottom {
    margin-top: 4em;
}


